<nav class="navbar navbar-dark navbar-expand-md bg-dark justify-content-center mb-5">
  <a href="/" class="navbar-brand mr-0"[routerLink]="['/home']"><img src="assets/img/food.png" alt="image" width="120"></a>
  <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse justify-content-between align-items-right w-100" id="collapsingNavbar2">
      <ul class="navbar-nav mx-auto text-center">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" >Home </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" *ngIf="isLogged" [routerLink]="['despensa']" routerLinkActive="active" >Despensa</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" *ngIf="isLogged" [routerLink]="['compra']" routerLinkActive="active" >Compras</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" *ngIf="isLogged" [routerLink]="['profile']" routerLinkActive="active" >Perfil</a>
        </li>
      </ul>
      <ul class="nav navbar-nav flex-row justify-content-center flex-nowrap">
        <button type="button" *ngIf="!isLogged" class="btn btn-success my-2 my-sm-0 m-2" [routerLink]="['login']">Login</button>
        <button type="button" *ngIf="isLogged" class="btn btn-danger my-2 my-sm-0" (click)="onLogout()" >Logout</button>
        <button type="button" *ngIf="!isLogged" class="btn btn-success my-2 my-sm-0 m-2" [routerLink]="['register']">Register</button>
      </ul>
  </div>
</nav>
