<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <a class="navbar-brand" [routerLink]="['/home']"><img src="assets/img/watchmen13.jpg" alt="image"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" >Home </a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" *ngIf="isLogged" [routerLink]="['#']" routerLinkActive="active" >Despensa</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" *ngIf="isLogged" [routerLink]="['#']" routerLinkActive="active" >Compras</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" *ngIf="isLogged" [routerLink]="['profile']" routerLinkActive="active" >Perfil</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button type="button" *ngIf="!isLogged" class="btn btn-success my-2 my-sm-0 m-2" [routerLink]="['login']">Login</button>
      <button type="button" *ngIf="isLogged" class="btn btn-danger my-2 my-sm-0" (click)="onLogout()" >Logout</button>
      <button type="button" *ngIf="!isLogged" class="btn btn-success my-2 my-sm-0 m-2" [routerLink]="['register']">Register</button>
    </form>
  </div>
</nav>
