<div class="container body">
  <div class="row">
    <div class="col-6 my-auto">
      <img alt="robot" src="../../../assets/img/robot.png" width="50%" >
    </div>
    <div class="col-6">
      <h1> Error 404 </h1>
      <h3> Upsss... esto es un poco embarazoso...</h3>
      <h4>O buscas algo que no existe...<br/>o no soy capaz de encontrar lo que buscas....</h4>
      <h4>Vuelve a intentarlo</h4>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col center">
      <a class="boton" href="javascript: history.go(-1)">Volver atrás</a>
    </div>
  </div>
</div>
